.sezon__container--bottom {
  display: flex;
  background-color: #000;
  padding: 44px;
}
.sezon-number {
  font-size: 96px;
line-height: 60px;
margin-right: 30px;
}
.sezon-number--span {
  display: block;
  font-size: 24px;
line-height: 1;
text-align: center;
}
.sezon-box {
  max-width: 1200px;
}
.sezon-text {
  font-size: 14px;
line-height: 21px;
}
@include breakpoint-down (1150) {
  .sezon__container--bottom {
    display: none;
  }
}
@include breakpoint-down (1000) {
  .hero-sezon {
  padding: 108px 0 260px;
}
}
@include breakpoint-down (700) {
  .hero-sezon {
  padding: 78px 0 140px;
}
}
@include breakpoint-down (450) {
  .hero-sezon {
  padding: 30px 0 120px;
}
}