.header {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 65px;
  background-size: cover;
}
.header--sezon-1 {
  background-image: url("../img/sezon-1-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 65px;
  background-size: cover;
}
.site-header {
  padding: 50px 0 58px;
  background-image: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
}
.header-bottom {
  padding: 30px 0;
  background-image: linear-gradient(180deg, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
  transform: rotate(180deg);
}
@include breakpoint-down (600) {
  .site-header {
    padding: 20px 0;
  }
  .header {
    background-position: center 25px;
  }
}
